.profile--container{
  display: flex;
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: .8em;
  align-items: center;
  margin-bottom: 1em;
}

.profile--label--avatar{
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.profile--label--avatar input{
  display: none;
}

.profile--label--avatar span{
  z-index: 99;
  position: absolute;
  opacity: 0.7;
  transition: all .5s;
}

.profile--label--avatar span:hover{
  opacity: 1;
  transform: scale(1.4);
}

.profile--form{
  margin-bottom: 1em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile--form img{
  margin-bottom: 1em;
  border-radius: 50%;
  object-fit: cover;
}

.profile--form label{
  margin-bottom: .5em;
  font-size: 1.4em;
}

.profile--form input, textarea, select{
  margin-bottom: 1em;
  padding: .7em;
  border: 0;
  border-radius: 5px;
  max-width: 600px;
}

.profile--form input:disabled{
  cursor: not-allowed;
}

.profile--onSubmit{
  max-width: 600px;
  border: none;
  border-radius: 10px;
  height: 40px;
  background-color: rgb(22, 27, 51);;
  color: white;
  font-weight: lighter;
}

.profile--logout-btn{
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #121212;
  border-radius: 5px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
